<li id="answer-${id}">
  <div id='vote-${vote_id}'>
    <a data-method="patch" data-remote="true" href="/votes/${vote_id}/up" rel='nofollow'>Up Vote</a>
    <span id="vote-${vote_id}-count" data>${vote_quantity}</span>
    <a data-method="patch" data-remote="true" href="/votes/${vote_id}/down" rel='nofollow'>Down Vote</a>
  </div>
  ${text}
    <p>Attachments:</p>
  <ul class="list-attachments">
  </ul>
  <div class="list-answer-comments"></div>
  <a href="/answers/${id}/comments/new">Add Comment</a>
  <br>
  <a href="/questions/${question_id}/answers/${id}/edit" class='edit-answer-link' data-answer-id='${id}'>Improve Answer</a>

  <div id="answer-error-${id}">
    </div>
      <br />
        <form accept-charset="UTF-8" action="/questions/${question_id}/answers/${id}" class="edit-answer-form" data-remote="true" id="edit-answer-${id}" method="post">
          <div style="display:none">
            <input name="utf8" type="hidden" value="&#x2713;" />
            <input name="_method" type="hidden" value="patch" />
          </div>
          <label for="answer_text">Text</label>
          <textarea id="answer_text" name="answer[text]"></textarea>
          <input name="commit" type="submit" value="Edit Answer" />
        </form>
  <a href="/questions/${question_id}/answers/${id}" data-method="delete" data-confirm="Are you sure?" data-remote="true">Delete Answer</a>
</li>
