$("#vote-<%= object.class.name.downcase %>-<%= object.id %>").html('<%= j render 'votes/voice_panel', object: object %>');

<% if flash[:warning] %>
  $('.panel-info').append("<p class='warning'><%= j flash[:warning] %></p>")
  $('p.warning').fadeOut( 3000, function() {
    $(this).remove();
  });
<% end %>
