$("#vote-<%= @vote.id %>-count").html('<%= @vote.quantity %>')

<% if flash[:warning] %>
  $('.panel-info').append("<p class='warning'><%= j flash[:warning] %></p>")
  $('p.warning').fadeOut( 3000, function() {
    $(this).remove();
  });
<% end %>
